<div class="welcome-text-area white">
<div class="area-bg"></div>
<div class="welcome-area">
    <div class="container">
        <div class="row flex-v-center">
            <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
                <div class="welcome-mockup center">
                    <img src="img/home/sayna.png" alt="">
                </div>
            </div>
            <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
                <div class="welcome-text">
                    <h1>The Hacking Project</h1>
                    <p>The Hacking Project est une jeune pousse qui souhaite apporter à tous les compétences necessaires pour le monde de demain. Nos formations se déroulent du lundi au vendredi de 9h à 20h pendant 2 mois 1/2. Chez nous, pas de professeurs, pas de locaux.</p>
                    <div class="home-button">
                    <div class="subscriber-form-area wow fadeIn" id="newsletter">
                        <form action="/" method="post" class="subscriber-form mb100">
                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                            <label class="mt10" for="mc-email"></label>
                            <input name="soumettre" type="email" id="mc-email" placeholder="Newsletter">
                            <button type="submit" class="plus-btn">Soumettre</button>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</header>
<!--END TOP AREA-->

<!--FEATURES TOP AREA-->
<section class="features-top-area padding-100-50" id="features">
<div class="container">
<div class="row">
    <div class="col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3 col-sm-12 col-xs-12">
        <div class="area-title text-center wow fadeIn">
            <h2>pourquoi faire <span>THP</span></h2>
            <span class="icon-and-border"><i class="material-icons">phone_android</i></span>
            <p>Voici les top 6 des raisons de faire ce cursus</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div class="qs-box relative mb50 center wow fadeInUp" data-wow-delay="0.2s">
            <div class="qs-box-icon">
                <i class="material-icons">account_balance_wallet</i>
            </div>
            <h3>Mieux se vendre</h3>
            <p>La maîtrise d'au moins un langage de programmation est une compétence valorisée. Apprendre à coder est un énorme plus sur le CV ! Cela démontre une forte capacité d'adaptation. Un employeur saura le voir et le comprendre.</p>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div class="qs-box relative mb50 center  wow fadeInUp" data-wow-delay="0.3s">
            <div class="qs-box-icon">
                <i class="material-icons">wb_incandescent</i>
            </div>
            <h3>Apaiser sa curiosité</h3>
            <p>Curieux ? Foncez ! The Hacking Project est ouvert à tous. Si vous souhaitez découvrir de nouveaux langages, c'est le lieu parfait.</p>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
        <div class="qs-box relative mb50 center  wow fadeInUp" data-wow-delay="0.4s">
            <div class="qs-box-icon">
                <i class="material-icons">developer_mode</i>
            </div>
            <h3>Faire des petits programmes</h3>
            <p>Lorem Ipsum is a simply dummy texts of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div class="qs-box relative mb50 center wow fadeInUp" data-wow-delay="0.2s">
            <div class="qs-box-icon">
                <i class="material-icons">settings</i>
            </div>
            <h3>Tester son idée</h3>
            <p>Vous avez une idée ? Mettez-la en pratique et développez votre MVP pour prouver que votre concept peut marcher ! Votre go to market passe de 1 an à 4 mois.</p>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div class="qs-box relative mb50 center  wow fadeInUp" data-wow-delay="0.3s">
            <div class="qs-box-icon">
                <i class="material-icons">work</i>
            </div>
            <h3>Changer de carrière</h3>
            <p>Vous avez envie de devenir développeur en informatique ? On va être franc, chez THP vous ne représentez que 10% des personnes qui viennent chez nous. Par contre avec beaucoup de travail et de volonté nous vous garantissons un stage à minima.</p>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
        <div class="qs-box relative mb50 center  wow fadeInUp" data-wow-delay="0.4s">
            <div class="qs-box-icon">
                <i class="material-icons">forum</i>
            </div>
            <h3>La communauté THP</h3>
            <p>C'est une grande famille qui comprend les moussaillons, les corsaires, les mentors dans une ambiance bienveillante et accueillante. Vous en profitez et l'animez.</p>
        </div>
    </div>
</div>
</div>
</section>
<!--FEATURES TOP AREA END-->


<!--VIDEO AREA-->
<section class="video-area relative section-padding" id="video">
<div class="area-bg" data-stellarr-ratio="0.6"></div>
<div class="container">
<div class="row">
    <div class="col-md-5 col-lg-5 col-md-offset-7 col-lg-offset-7 col-sm-12 col-xs-12">
        <div class="video-area-content padding-50-50 white wow fadeInRight" data-wow-delay="0.2s">
            <h2>C'est quoi THP</h2>
            <p>Dans cette vidéo, Charles Dacquais nous explique brièvement ce que fait THP et ce qu'on fait à THP..........</p>
            <p>Pour lancer la lecture, veuillez cliquer sur le boutton</p>
            <div class="video-play-button mt50">
                <button data-video-id="NbZ0KD2Jcr0" class="video-area-popup"><i class="fa fa-play-circle"></i></button>
                <h3>Voir La Video</h3>
            </div>
        </div>
    </div>
</div>
</div>
</section>
<!--VIDEO AREA END-->

<!--TESTMONIAL AREA-->
<section class="testmonial-area section-padding" id="client">
<div class="container">
<div class="row">
    <div class="col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3 col-sm-12 col-xs-12">
        <div class="area-title text-center wow fadeIn">
            <h2>Quelques <span>Témoignages</span></h2>
            <span class="icon-and-border"><i class="material-icons">phone_android</i></span>
            <p>Nous préférons laisser nos corsaires parler à notre place.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 col-sm-12 col-xs-12">
        <div class="testmonial-member-list wow fadeIn">
            <div class="single-testmonial center">
                <div class="testmonial-author-data">
                    <div class="author-image">
                        <img src="img/testmonial/juan.jpg" alt="">
                    </div>
                </div>
                <div class="testmonial-author-details">
                    <p>"J'ai fait The Hacking Project pour hacker mon process commercial et faire plus. C'était également pour moi un moyen d'avoir une meilleure rémunération."</p>
                </div>
                <div class="author-designation">
                    <h4>Juan-Pablo ANGARITA</h4>
                </div>
            </div>
            <div class="single-testmonial center">
                <div class="testmonial-author-data">
                    <div class="author-image">
                        <img src="img/testmonial/isabelle.jpg" alt="">
                    </div>
                </div>
                <div class="testmonial-author-details">
                    <p>En plus de me donner suffisamment de bases en code pour lancer <a href="https://www.algo.ski/">AlgoSki</a>, The Hacking Project m'a réappris à apprendre. Je recommande la formation !</p>
                </div>
                <div class="author-designation">
                    <h4>Isabelle Bonnet</h4>
                </div>
            </div>
            <div class="single-testmonial center">
                <div class="testmonial-author-data">
                    <div class="author-image">
                        <img src="img/testmonial/maxime.png" alt="">
                    </div>
                </div>
                <div class="testmonial-author-details">
                    <p>En deux mois, j'avais le niveau de développeur. Très pratique pour parler aux devs quand on fait du produit, ou pour tester à la volée plein de scripts rapides.</p>
                </div>
                <div class="author-designation">
                    <h4>Maxime Souillat</h4>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>
<!--TESTMONIAL AREA END-->


<!--PRICING AREA-->
<section class="price-area padding-100-70 sky-gray-bg" id="pricing">
<div class="container">
<div class="row">
    <div class="col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3 col-sm-12 col-xs-12">
        <div class="area-title text-center wow fadeIn">
            <h2>Voici <span>nos cours</span></h2>
            <span class="icon-and-border"><i class="material-icons">phone_android</i></span>
            <p>Rapidiously monetize state of the art ROI rather than quality. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim neque aliquid.</p>
        </div>
    </div>
</div>
<div class="row rowcent">
    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div class="single-price center wow fadeInUp" data-wow-delay="0.2s">
            <div class="price-hidding">
                <h2>Code</h2>
            </div>
            <div class="price-rate">
                <h2><sup>$</sup>200
                    <sub>caution</sub>
                </h2>
            </div>
            <div class="price-details">
                <ul>
                    <li>One User</li>
                    <li>1000 ui elements</li>
                    <li>E-mail support</li>
                </ul>
            </div>
            <div class="buy-now-button">
                <a href="#" class="read-more">S'inscrire</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div class="single-price center wow fadeInUp" data-wow-delay="0.3s">
            <div class="price-hidding">
                <h2>Sales</h2>
            </div>
            <div class="price-rate">
                <h2><sup>$</sup>200
                    <sub>caution</sub>
                </h2>
            </div>
            <div class="price-details">
                <ul>
                    <li>One User</li>
                    <li>1000 ui elements</li>
                    <li>E-mail support</li>
                </ul>
            </div>
            <div class="buy-now-button">
                <a href="#" class="read-more">S'inscrire</a>
            </div>
        </div>
    </div>
</div>
</div>
</section>
<!--PRICING AREA END-->